html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  font-family: Montserrat, sans-serif;
  background-image: url(https://iili.io/J5JOIFR.jpg);
  background-size: cover;
  background-position: center;
}

canvas {
  mix-blend-mode: lighten;
  cursor: pointer;
}

#hero {
  display: inline;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: color-dodge;
}

#year {
  font-size: 30vw;
  color: #d0d0d0;
  font-weight: bold;
}

#timeleft {
  color: #fbfbfb;
  font-size: 2.5vw;
  text-align: center;
  font-family: Lora, serif;
}
